   <!-- breadcrumb start-->
<section class="breadcrumb about-page-breadcrumb breadcrumb_bg align-items-center">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-12">
                <div class="breadcrumb_tittle">
                    <p><a href="index.html"><span class="ti-home home-breadicon"></span><strong>home</strong> </a><span class="ti-angle-right breabarwicon"> </span><strong>About Us</strong></p>
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!-- E-Commerce Service start -->
<section id="ecommerce-servicee">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 floating animated fadeInDown" data-wow-delay="0.1s">
                <img src="~/images/about-us.png" alt="About us" class="img-fluid">
            </div>
            <div class="col-lg-8 animated fadeInDown" data-wow-delay="0.1s">
                <h2> </h2>

                <h2 class="typewrite animated fadeInDown" data-wow-delay="0.1s" data-period="2000" data-type='[ "About Us", "With Mezzex"]'>
                    <span class="wrap about-txt"></span>
                </h2>

                <p>
                    Through our parent company, Ultior Ultimate Performance Pvt. Ltd, Mezzex, a full-service IT company that was founded in 2015 with only eight clients and a team of three dedicated IT professionals on board. Since then, our client base has seen tremendous growth due to our dedication to delivering perfect results. Today, the Mezzex team includes experienced web professionals and a friendly customer service team who diligently serve a large client base around the world.

                </p><br>

                <p>Moving on, Mezzex was created with the aim to offer affordable and high-performance branding and sales enablement services using proven and progressive data-driven solutions. We have a simple mission, to maximize your growth in a cost-effective way. As your leading IT and Ecommerce service provider, we promise to work hard and not give up until the objectives are achieved.</p>


            </div>
        </div>

    </div>
</section>
<!-- E-Commerce Service end -->
<!-- Our Process start -->
<section id="our-wharehouse-managment-inner">
    <section id="our-process-inner">
        <div class="container">
            <div class="section_tittle text-center animated fadeInDown" data-wow-delay="0.1s">
                <h2>We are a committed team and this is why you should partner with Mezzex.</h2>
                <p>Committed to delivering high-quality web development and e-commerce services</p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6 animated fadeInDown" data-wow-delay="0.1s">
                    <div class="our-processbox">
                        <h2>Our DNA Attributes</h2>
                        <p>
                            Mezzex embodies a combination of technology, data science, and human intellect to provide clients with superlative service quality delivering perfect results, and that too at affordable prices!

                        </p>


                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 animated fadeInDown" data-wow-delay="0.1s">
                    <div class="wharehouse-managment-img">
                        <img src="~/images/where-creativity-web-design.jpg" alt="where creativity web design">
                    </div>
                </div>

            </div>



            <div class="row">
                <div class="col-lg-6 col-sm-6 order-md-1 order-md-1 order-sm-2 order-2 animated fadeInDown" data-wow-delay="0.1s">
                    <div class="wharehouse-managment-img">
                        <img src="~/images/excellence.jpg" alt="excellence">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 order-md-2 order-sm-1 order-1 animated fadeInDown" data-wow-delay="0.1s">
                    <div class="our-processbox">
                        <h2>Excellence</h2>
                        <p>
                            What binds Mezzex into a unified and single team is the continuous commitment to excellence. Our clients should expect pure excellence from discovery, and planning to implementation.

                        </p>
                    </div>
                </div>


            </div>


            <div class="row">
                <div class="col-lg-6 col-sm-6 animated fadeInDown" data-wow-delay="0.1s">
                    <div class="our-processbox">
                        <h2>Integrity</h2>
                        <p>
                            At Mezzex, our way of life is to do the right thing. This is why we make sure that our clients  experience complete transparency with accountability for every action and every initiative related to their campaign.

                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-6 animated fadeInDown" data-wow-delay="0.1s">
                    <div class="wharehouse-managment-img">
                        <img src="~/images/integrity.jpg" alt="integrity">
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-lg-6 col-sm-6 order-md-1 order-md-1 order-sm-2 order-2 animated fadeInDown" data-wow-delay="0.1s">
                    <div class="wharehouse-managment-img">
                        <img src="~/images/resilience.jpg" alt="Resilience">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 order-md-2 order-sm-1 order-1 animated fadeInDown" data-wow-delay="0.1s">
                    <div class="our-processbox">
                        <h2>Resilience</h2>
                        <p>
                            Mezzex is driven by unhesitating resilience to come up with the best solution for our execution initiatives to adjust to a constantly evolving digital world. Our flexibility to change makes us help you stay updated.

                        </p>
                    </div>
                </div>


            </div>


            <div class="row">
                <div class="col-lg-6 col-sm-6 animated fadeInDown" data-wow-delay="0.1s">
                    <div class="our-processbox">
                        <h2>Innovation</h2>
                        <p>
                            Our Mezzex team structure ensures that every project receives the best innovative approach it deserves, with all the efforts precisely aligned with client goals.

                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-6 animated fadeInDown" data-wow-delay="0.1s">
                    <div class="wharehouse-managment-img">
                        <img src="~/images/innovation.jpg" alt="Innovation">
                    </div>
                </div>

            </div>



        </div>
    </section>
</section>
<!-- Our Process end -->
<!-- Dedicated & Multiclient Warehousing start -->
<section id="wharehouse-management-dedicated-servicee" style="display:none;">
    <section id="ecommerce-servicee">
        <div class="container">
            <div class="section_tittle text-center animated fadeInDown" data-wow-delay="0.1s">
                <h2>Welcomes you to Mezzex UK leading web development company</h2>
                <p>We make happy our customers by giving on time fantastic services.</p>
                <p>WooTech is best web development company in india which provides fantastic development and designing services of web, also providing a domain and hosting with lowest rates. Company started worked in 2011 and founded by Mr. Yogesh Sonani and now its becoming more and more popular in India in web development field and since developed many successful projects, client are very satisfied with company and their staff. About Client WooTech Understand and value their client’s time, so we providing the best services in mean time, our support stay with client 24 * 7 . We make happy our customers by giving on time fantastic services.</p>
            </div>
            <div class="col-lg-9 mx-auto animated fadeInDown" data-wow-delay="0.1s">
                <div class="row">
                    <div class="title-border col-lg-12">
                        <h2 style="font-size:14px;">Services which you will get absolutely free with projects are includes</h2>
                        <ul>
                            <li><span class="ti-angle-double-right"></span>Google Analytics account setup</li>
                            <li><span class="ti-angle-double-right"></span>Google Webmaster tools account setup</li>
                            <li><span class="ti-angle-double-right"></span>Listing your site in Google, Bing and Yahoo search engines</li>
                            <li><span class="ti-angle-double-right"></span>On page SEO</li>
                            <li><span class="ti-angle-double-right"></span>6 month Edition in website</li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </section>
</section>
<!-- Dedicated & Multiclient Warehousing end -->
<!-- find us start -->
<section id="find-us">
    <div class="container">
        <div class="section_tittle text-center animated fadeInDown" data-wow-delay="0.1s">
            <h2>Find us.</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 animated fadeInDown" data-wow-delay="0.1s"><h3>Spacebox Business Park Unit E 38, Plume Street Birmingham B6 7RT.</h3></div>
            <div class="col-lg-6 col-sm-6 pl-0 pr-0 animated fadeInDown" data-wow-delay="0.1s">
                <span><img src="~/images/buildding-office.jpg" alt="buildding office"></span>
            </div>

            <div class="col-lg-6 col-sm-6 pl-0 pr-0 animated fadeInDown" data-wow-delay="0.1s">
                <!--  <span><img src="images/mezzex-map.jpg" alt="mezzex Map"></span> -->
                <div class="responsive-iframe">
                    <iframe src="https://www.google.com/maps?q=Spacebox+Business+Park+Unit+E+38,+Plume+Street,+Birmingham,+B6+7RT&output=embed" class="map-iframe" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

</section>
