 <!-- breadcrumb start-->
<section class="breadcrumb ecommerce-service-breadcrumb breadcrumb_bg align-items-center">
	<div class="container">
		<div class="row align-items-center justify-content-between">
			<div class="col-sm-12">
				<div class="breadcrumb_tittle">
					<p><a href="index.html"><span class="ti-home home-breadicon"></span><strong>home</strong> </a><span class="ti-angle-right breabarwicon"> </span><strong>FAQ</strong></p>
					<h2>FAQ</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- breadcrumb start-->
<!-- FAQ -->
<section id="main-faq-page">
	<section id="main-blog-page">
		<div class="container">
			<div class="section_tittle text-center animated fadeInDown" data-wow-delay="0.1s">

				<h2 class="typewrite animated fadeInDown" data-wow-delay="0.1s" data-period="2000" data-type='[ "With Mezzex", "Frequently Asked Questions"]'>
					<span class="wrap about-txt"></span>
				</h2>
				<p>Answering Our Most Frequently Asked Questions About IT And Digital Marketing Solutions </p>
			</div>



		</div>

		<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
			<div class="container">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading p-3 mb-3" role="tab" id="heading0">
							<h3 class="panel-title">
								<a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
									Is there any difference between SEO and SEM?
								</a>
							</h3>
						</div>
						<div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
							<div class="panel-body px-3 mb-4">
								<p>Search Engine Marketing(SEM) is the umbrella term for marketing on search engines such as Google and Bing, and holds within both SEO and PPC advertising. On the other hand, Search Engine Optimisation (SEO) is generally the process of marketing for organic (free) search results.</p>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading p-3 mb-3" role="tab" id="heading1">
							<h3 class="panel-title">
								<a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
									What is the meaning of digital marketing?
								</a>
							</h3>
						</div>
						<div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
							<div class="panel-body px-3 mb-4">
								<p>Digital marketing is any marketing solution that uses internet-connected technologies and online platforms to target a specific audience. Digital marketing plays an important role in the marketing mix for any industry, especially in the UK, where there are over 44 million daily internet users.</p>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading p-3 mb-3" role="tab" id="heading2">
							<h3 class="panel-title">
								<a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
									When is my site/app done?
								</a>
							</h3>
						</div>
						<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
							<div class="panel-body px-3 mb-4">
								<p>Your site/app is officially “done” when we launch. In reality, your site is never fully complete, as it is really a process and should always be treated as such. We accept feedback for 1 week after launch and will fix what is in the project scope, and will provide estimates for updates that are not in scope.</p>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading p-3 mb-3" role="tab" id="heading3">
							<h3 class="panel-title">
								<a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
									What are your hosting suppliers for the websites?
								</a>
							</h3>
						</div>
						<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
							<div class="panel-body px-3 mb-4">
								<p>Basically, Mezzex uses three different hosting suppliers and our professionals will advise the best one accordingly based on the website's size, the required functionality and the traffic expected.</p>
							</div>
						</div>
					</div>


					<div class="panel panel-default">
						<div class="panel-heading p-3 mb-3" role="tab" id="heading4">
							<h3 class="panel-title">
								<a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
									Is it possible to edit the content of my website?
								</a>
							</h3>
						</div>
						<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
							<div class="panel-body px-3 mb-4">
								<p>
									The answer is Yes, and most of it can be edited. Every website created by Mezzex features a CMS (content management system), meaning the text on the pages can be edited as often as you like and things such as special offers, pictures, prices, and text can be changed. Our professionals are able to offer full training on the use of the CMS (content management system) and the offer included in the website package.
								</p>
							</div>
						</div>
					</div>



					<div class="panel panel-default">
						<div class="panel-heading p-3 mb-3" role="tab" id="heading5">
							<h3 class="panel-title">
								<a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
									How long will it take to create my website/app?
								</a>
							</h3>
						</div>
						<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
							<div class="panel-body px-3 mb-4">
								<p>
									The timeline varies depending on the project and scope. The best way to find this out is simply to talk to us!
								</p>
							</div>
						</div>
					</div>


					<div class="panel panel-default">
						<div class="panel-heading p-3 mb-3" role="tab" id="heading6">
							<h3 class="panel-title">
								<a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
									What is the meaning of social media marketing?
								</a>
							</h3>
						</div>
						<div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
							<div class="panel-body px-3 mb-4">
								<p>
									Social Media Marketing (SMM) refers to the promotion of businesses on any of the different types of online channels where users create and share content and participate in conversations, whether in public or private communities. Some of the common social media online channels include Facebook, Twitter, LinkedIn, Instagram, YouTube and Pinterest.
								</p>
							</div>
						</div>
					</div>



					<div class="panel panel-default">
						<div class="panel-heading p-3 mb-3" role="tab" id="heading7">
							<h3 class="panel-title">
								<a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
									As a social media marketing agency, what do you do?
								</a>
							</h3>
						</div>
						<div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
							<div class="panel-body px-3 mb-4">
								<p>
									As a leading social media marketing agency in the UK, Mezzex devises a cohesive social media strategy and effectively manages and coordinates clients’ social media channels by promoting their brand and building their social media channels to drive an engaged and influential community on their behalf.
								</p>
							</div>
						</div>
					</div>


					<div class="panel panel-default">
						<div class="panel-heading p-3 mb-3" role="tab" id="heading8">
							<h3 class="panel-title">
								<a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8">
									Does marketing strategy have elements?
								</a>
							</h3>
						</div>
						<div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
							<div class="panel-body px-3 mb-4">
								<p>
									Yes - marketing strategy features a range of important, these include your business’s target audience, goals and objectives, and the tactics you will use to achieve your goals and  actively market to your target audience.  For an effective marketing strategy, these three elements are very important.
								</p>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading p-3 mb-3" role="tab" id="heading9">
							<h3 class="panel-title">
								<a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapse9">
									How is a marketing strategy important to my business?
								</a>
							</h3>
						</div>
						<div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
							<div class="panel-body px-3 mb-4">
								<p>
									Marketing strategy is very important for your business because it provides you with a defined plan to stick to and something to measure against your targeted results. This will help you analyse your plan in place to meet a certain objective and make sure it fits that objective.
								</p>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>

	</section>
</section>