<!--::client logo part end::-->
<section class="client_logo animated fadeInDown" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="client_logo_slider owl-carousel d-flex justify-content-between">
                    <div class="single_client_logo">
                        <a href="https://flaxlinenofficial.com/" target="_blank"><img src="~/images/flax-linen-logo.webp" alt="Flax Linen" /></a>
                    </div>
                    <div class="single_client_logo">
                        <a href="https://www.direct-care.co.uk/" target="_blank"><img src="~/images/Direct care logo.webp" alt="direct-care" /></a>
                    </div>
                    <div class="single_client_logo">
                        <a href="https://astircare.co.uk/" target="_blank"><img src="~/images/astircare.webp" alt="astircare" /></a>
                    </div>
                    <div class="single_client_logo">
                        <a href="https://promortgages.co.uk/" target="_blank"> <img src="~/images/pro-mortgages.webp" alt="pro mortgages" /></a>
                    </div>
                    <div class="single_client_logo">
                        <a href="https://ultior.co.uk/" target="_blank"><img src="~/images/ultior.webp" alt="ultior" /></a>
                    </div>
                    <div class="single_client_logo">
                        <a href="https://www.spaceboxstorage.co.uk/" target="_blank"><img src="~/images/spacebox-logo.webp" alt="spacebox" /></a>
                    </div>
                    <div class="single_client_logo">
                        <a href="https://houszy.co.uk/" target="_blank"><img src="~/images/houszy-logo.webp" alt="houszy" /></a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>