@model Mezzex.com.Models.ServiceModel

<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!--  offset-lg-1 -->
                <div class="banner_text">
                    <div class="banner_text_iner">

                        <h1>
                            <a href="" class="typewrite" data-period="2000" data-type='[ "One Of The Best Tech Companies In The UK."]'>
                                <span class="wrap"></span>
                            </a>
                        </h1>
                        <h5>We are one of the IT services in the United Kingdom that combine the power of technology, strategy, data and creativity to establish your brand, drive conversions, increase loyalty and engage your audience. </h5>

                        <!-- <a href="website-designing-development.html" class="btn_1">Know More</a>  -->
                        <a asp-controller="Contact" class="btn_case-study">Enquiry Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-rightimgme">
                    <img src="~/images/home-bannerimg1.png" alt="home-bannerimg">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->
<!-- our_service start-->
<section class="our_service">
    <div class="container-fluid">

        <div class="row justify-content-center align-items-center">
            <div class="col-lg-10">
                <div class="section_tittlehome text-center animated fadeInDown" data-wow-delay="0.1s">
                    <h2>Our IT Services</h2>
                    <p>
                        Although digital marketing and IT services in the UK are an ever-changing industry, finding the right partner can be challenging, especially without the right expertise and approach. Mezzex is here to help you accelerate your brand growth to the top of the virtual revolution through expert digital marketing and other IT services, delivered according to your objectives.
                    </p>
                    <p class="be-among-text">Be among giants in your segment in organic searches, match your social web with your brand, and deliver tailored messages to the target audience cost-effectively.</p>

                </div>
            </div>
        </div>
        <div class="row wow fadeInUp owl-loaded owl-drag mt-4" data-wow-delay="0.1s">
            <div class="col-sm-6 col-xl-4 animated fadeInDown" data-wow-delay="0.1s">
                <div class="single_feature">
                    <img src="~/images/website-designing.jpg" alt="">
                    <div class="single_service">
                        <h4>Website Designing & Development</h4>
                        <p>
                            Get the most interactive and enchanting website to bring your business to life digitally through our website and app development services. Boost your brand’s presence in digital, keep your users engaged, increase conversion rates and boost sales for the long term.

                        </p>
                        <a asp-controller="Services" asp-action="website_designing_development" class="home-readmore">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-4 animated fadeInDown" data-wow-delay="0.1s">
                <div class="single_feature">
                    <img src="~/images/digital-marketing.jpg" alt="">
                    <div class="single_service">
                        <h4>Digital Marketing</h4>
                        <p>
                            Access a full suite of Digital Marketing Services to bring your business to new heights of derived growth, improved online visibility, and outranked competition. Check how you can fundamentally boost sales in both B2C and B2B industries with our Full Service Digital Marketing and Advertising Agency below.

                        </p>
                        <a asp-controller ="Services" asp-action="digital_marketing" class="home-readmore">Read More</a>
                    </div>
                </div>
            </div>





            <div class="col-sm-6 col-xl-4 animated fadeInDown" data-wow-delay="0.1s">
                <div class="single_feature">
                    <img src="~/images/software-development.jpg" alt="">
                    <div class="single_service">
                        <h4>Software Development</h4>
                        <p>
                            Make your software or website look good, work well, and be fully optimised to offer a seamless user experience for your target audience with our development services. As a top software development company, we develop software and websites that are responsive, mobile-friendly, user-friendly, and future-proofed to grow and develop by your business objectives.

                        </p>
                        <a asp-controller="Services" asp-action="software_development" class="home-readmore">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-4 animated fadeInDown" data-wow-delay="0.1s">
                <div class="single_feature">
                    <img src="~/images/App-development.jpg" alt="">
                    <div class="single_service">
                        <h4>APP Development</h4>
                        <p>
                            The number of application users is increasing every day, whether you are an Android or an iOS user. This is why as an application development company, Mezzex offers exceptional app development services to help you keep up with the latest trends and technologies to bring you the best solutions for your needs.
                        </p>
                        <a asp-controller="Services" asp-action="app_development" class="home-readmore">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-4 animated fadeInDown" data-wow-delay="0.1s">
                <div class="single_feature">
                    <img src="~/images/ecommer-ser.jpg" alt="">
                    <div class="single_service">
                        <h4>E-Commerce Service</h4>
                        <p>
                            Position your e-commerce business website on the top search engine result pages of relevant web searches on Google and Bing. Ensure your website is easily discoverability, drives relevant traffic, and delivers top ROI. Access quality e-commerce services bound with e-commerce consulting, design, implementation, systems integration, and support services.
                        </p>
                        <a asp-controller="Services" asp-action="ecommerce_service" class="home-readmore">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-4 animated fadeInDown" data-wow-delay="0.1s">
                <div class="single_feature">
                    <img src="~/images/wharehouse.jpg" alt="">
                    <div class="single_service">
                        <h4>Warehouse Solutions</h4>
                        <p>
                            Streamline your management systems to improve your logistics, deliveries, and shipping with our warehouse management services from a dedicated team of experts. We have the proper warehouse management services for any manufacturing or retail business. With our real-time inventory management services, businesses can improve their supply chain and prevent stock-outs.
                        </p>
                        <a asp-controller="Services" asp-action="warehouse_management" class="home-readmore">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our_service part end-->

<section id="coundter-box">
    <div class="main-counterbox">

        <div class="row">
            <h2>
                Connected World. Connected Experiences.
            </h2>
            <div class="four col-sm-6 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
                <div class="counter-box colored">
                    <span class="counter">6</span>
                    <strong>GBP</strong>
                    <p>Million total revenue</p>
                </div>
            </div>
            <div class="four col-sm-6 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
                <div class="counter-box">
                    <span class="counter">157</span>
                    <strong class="k-plus">K+</strong>
                    <p>Professionals help us connect experiences</p>
                </div>
            </div>
            <div class="four col-sm-6 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
                <div class="counter-box">
                    <span class="counter">910</span>
                    <strong></strong>
                    <p>
                        Global customers (including Fortune 500 companies)
                    </p>
                </div>
            </div>
            <div class="four col-sm-6 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
                <div class="counter-box">
                    <span class="counter">2</span>
                    <strong></strong>
                    <p>
                        Countries where we drive
                        our technology
                    </p>
                </div>
            </div>

            <p>Mezzex is the leading IT company in the UK, offering an unparalleled range of e-commerce services, web design and development, and digital marketing solutions to promote businesses in their growth. <!-- <a href="digital-marketing.html" class="know-now-btn">Know Now</a> --></p>
        </div>
    </div>

</section>

<!-- ================ contact section start ================= -->
<section id="contact-home">
    <section class="home-contact contact-section">
        <div class="row align-items-center">

            <div class="col-lg-5 pl-0 pr-0 animated fadeInDown" data-wow-delay="0.1s">
                <div class="form-bg">
                    <div class="col-12">
                        <h2 class="contact-title">
                            Have a question?
                            Contact us!
                        </h2>
                    </div>
                    <form asp-controller="Contact" asp-action="SubmitContactForm" method="post">
                        <!-- Email Input -->
                        <div class="mb-3">
                            <label for="emailid" class="form-label">Email</label>
                            <input type="email" class="form-control" id="emailid" name="email" placeholder="name@example.com" required>
                        </div>

                        <!-- Service Selection -->
                        <div class="mb-3">
                            <label for="SelectedService" class="form-label">Select Service</label>
                            @Html.DropDownListFor(m => m.SelectedService, Model.Services, "Choose any", new { @class = "form-select", name = "selectedService" })
                        </div>

                        <!-- Subject Input -->
                        <div class="mb-3">
                            <label for="subject" class="form-label">Subject</label>
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                        </div>

                        <!-- Phone Input -->
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone" required>
                        </div>

                        <!-- Message Textarea -->
                        <div class="mb-3">
                            <label for="messagetextarea1" class="form-label">Message</label>
                            <textarea class="form-control" id="messagetextarea1" name="message" rows="4" placeholder="Your message here" required></textarea>
                        </div>

                        <!-- Submit Button -->
                        <div class="d-grid">
                            <button class="btn btn-dark btn-lg" type="submit">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-lg-7 pl-0 pr-0 animated fadeInDown" data-wow-delay="0.1s">
                <div class="home-form">
                    <img src="~/images/home-contact.jpeg" alt="home contact" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- ================ contact section end ================= -->
</section>
<section id="other-services">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="section_tittlehome text-center animated fadeInDown" data-wow-delay="0.1s">
                    <h2>Our Other Services</h2>
                    <p>Mezzex believes in creating long-term relationships with clients and capable partners. Based on quality, consistency and reliability, client satisfaction is our driving force.</p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
                <div class="other-service-box">
                    <span><img src="~/images/logo-design.png" alt="Logo Design"></span>
                    <h2>Logo Design</h2>
                </div>
            </div>

            <div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
                <div class="other-service-box">
                    <span><img src="~/images/online-marketing.png" alt="Online Marketing"></span>
                    <h2>Online Marketing</h2>
                </div>
            </div>

            <div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
                <div class="other-service-box">
                    <span><img src="~/images/graphic-design.png" alt="Graphic Design"></span>
                    <h2>Graphic Design</h2>
                </div>
            </div>

            <div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
                <div class="other-service-box">
                    <span><img src="~/images/ecommerce-bussiness.png" alt="Ecommerce Business"></span>
                    <h2>Ecommerce Business</h2>
                </div>
            </div>

            <div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
                <div class="other-service-box">
                    <span><img src="~/images/lead-generation.png" alt="Lead Generation"></span>
                    <h2>Lead Generation</h2>
                </div>
            </div>

            <div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
                <div class="other-service-box">
                    <span><img src="~/images/amazon.png" alt="Amazon Seller Account"></span>
                    <h2>Amazon Seller Account</h2>
                </div>
            </div>


            <div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
                <div class="other-service-box">
                    <span><img src="~/images/ebay.png" alt="Ebay Seller Account"></span>
                    <h2>Ebay Seller Account</h2>
                </div>
            </div>

            <div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
                <div class="other-service-box">
                    <span><img src="~/images/logo-design.png" alt="data-managment"></span>
                    <h2>Other Seller Account</h2>
                </div>
            </div>
        </div>
    </div>

</section>

<!--::review_part end::-->
<div class="review_part padding_bottom" id="testimonial">
    <div class="container">
        <div class="row justify-content-center align-items-center animated fadeInDown" data-wow-delay="0.1s">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2>What Our Client Say</h2>
                    <p>Discover the proven success of our work by reading the glowing reviews from our happy clients!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="review_part_text owl-carousel animated fadeInDown" data-wow-delay="0.1s">
                    <div class="singler_eview_part">
                        <div class="client_info">
                            <img src="~/images/user-icon-tistimonial.png" alt="" />
                            <h4>Mrs Rachana Ambalkar</h4>
                            <strong>Director</strong>
                            <p class="astircare-directer-text">Astir Care Limited</p>
                        </div>
                        <p>
                            After working with Mezzex for over two years, we found out that their team is extremely helpful and knowledgeable about what works online when it comes to digital marketing. Now, I look forward to this partnership and I highly recommend them to anyone looking for the best marketing solutions!
                        </p>
                    </div>

                    <div class="singler_eview_part">
                        <div class="client_info">
                            <img src="~/images/user-icon-tistimonial.png" alt="" />
                            <h4>Mr Brijesh Kumar</h4>
                            <strong>Director</strong>
                            <p class="astircare-directer-text">Ultior Limited</p>
                        </div>
                        <p>
                            For three years now, we have been continuously working with Mezzex and their associates, and we are satisfied with the quality of customer service and attention to detail. Everyone seems to care, including the project managers and executives in the company. We would highly recommend Mezzex to anyone looking for a great marketing.
                        </p>
                    </div>
                    <div class="singler_eview_part">
                        <div class="client_info">
                            <img src="~/images/user-icon-tistimonial.png" alt="" />
                            <h4>Mr J K Singh</h4>
                            <strong>Chairman</strong>
                            <p class="astircare-directer-text">JK Institute Of Pharmacy</p>
                        </div>
                        <p>
                            On behalf of the entire  JK Institute Of Pharmacy team, I would like to pass a heartfelt appreciation to everyone at Mezzex for the success of our website launch. Looking forward to continuing working with you!
                        </p>
                    </div>
                    <div class="singler_eview_part">
                        <div class="client_info">
                            <img src="~/images/user-icon-tistimonial.png" alt="" />
                            <h4>Mr Brijesh Kumar</h4>
                            <strong>Director</strong>
                            <p class="astircare-directer-text">Direct Care Limited</p>
                        </div>
                        <p>
                            Our online sales have seen a growth of 60% in the year of 2018 compared to 2017. Thank you so much, Mezzex for all the hard work and late hours that you all have put into making our business digital image great!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--::review_part end::-->

<section id="case-study">
    <div class="container">
        <div class="case-headding">
            <div class="section_tittlehome text-center animated fadeInDown" data-wow-delay="0.1s">
                <h2>Case Studies</h2>
                <p>We deal with the aspects of professional</p>
            </div>
        </div>
        <div class="row">


            <div class="col-sm-4 col-lg-4 pl-0 pr-0 animated fadeInDown" data-wow-delay="0.1s">



                <div class="growth-strategy">
                    <figure class="effect-sadie">
                        <img src="~/images/grwo-business.jpg" alt="Growth Strategies" class="img-fluid">
                        <figcaption>
                            <h2 style="font-size:35px;"><span class="devloptextidea">Idea</span><br />Growth <br />Strategies</span> </h2>

                            <p>
                                Sadie never took her eyes off me. <br>She had a dark soul.
                                <!-- <a href="javascript:void(0)">Know More</a> -->
                            </p>

                        </figcaption>
                    </figure>

                    <!-- <span><img src="~/images/grwo-business.jpg" alt="Growth Strategies" class="img-fluid"></span>
                     <h3 class="growth-business-mezzex">Growth <br/>Strategies</h3>
                    </div> -->
                </div>
            </div>
            <div class="col-sm-8 col-lg-8 animated fadeInDown" data-wow-delay="0.1s">
                <div class="it-consultancy">
                    <div class="row">
                        <!-- <div class="col-sm-6 col-lg-6 pl-0 pr-0">
                        <figure class="effect-sadie">
                        <span><img src="~/images/it-consultancy.jpg" alt="it-consultancy" class="img-fluid"></span>
                        <div class="consultancy-mezzex">
                        <figcaption>
                        <h3>IT Counsultancy</h3>
                        <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
                        </figcaption>
                        </div>
                        </figure>
                        </div> -->

                        <div class="col-sm-6 col-lg-6 pl-0 pr-0 animated fadeInDown" data-wow-delay="0.1s">
                            <figure class="effect-sadie">

                                <img src="~/images/it-consultancy.jpg" alt="it-consultancy" class="img-fluid">

                                <figcaption>
                                    <h2><span class="devloptexthome">Business</span><br />IT Counsultancy</span> </h2>

                                    <p>
                                        Sadie never took her eyes off me. <br>She had a dark soul.
                                        <!-- <a href="javascript:void(0)">Know More</a> -->
                                    </p>

                                </figcaption>
                            </figure>
                        </div>

                        <div class="col-sm-6 col-lg-6 pl-0 pr-0 animated fadeInDown" data-wow-delay="0.1s">
                            <figure class="effect-sadie">
                                <img src="~/images/anlisys-security.jpg" alt="anlisys-security">
                                <figcaption>
                                    <h2><span class="devloptexthome">Technology</span><br />Analysis of Security</span></h2>
                                    <p>
                                        Sadie never took her eyes off me. <br>She had a dark soul.
                                        <!-- <a href="javascript:void(0)">Know More</a> -->
                                    </p>

                                </figcaption>
                            </figure>

                            <!-- <span><img src="~/images/anlisys-security.jpg" alt="anlisys-security">
                            <div class="consultancy-mezzex">
                             <h3>Analysis of Security</h3>
                            </div> -->
                        </div>
                        <div class="col-sm-6 col-lg-6 pl-0 pr-0 animated fadeInDown" data-wow-delay="0.1s">
                            <figure class="effect-sadie">
                                <img src="~/images/social-media-app.jpg" alt="social-media-app" class="img-fluid">
                                <figcaption>
                                    <h2><span class="devloptexthome">Design</span><br />Social Media App</span></h2>
                                    <p>
                                        Sadie never took her eyes off me. <br>She had a dark soul.
                                        <!-- <a href="javascript:void(0)">Know More</a> -->
                                    </p>

                                </figcaption>
                            </figure>

                            <!-- <span><img src="~/images/social-media-app.jpg" alt="social-media-app" class="img-fluid"></span>
                            <div class="consultancy-mezzex">
                             <h3>Social Media App</h3>
                            </div> -->
                        </div>
                        <div class="col-sm-6 col-lg-6 pl-0 pr-0 animated fadeInDown" data-wow-delay="0.1s">

                            <figure class="effect-sadie">
                                <img src="~/images/data-managment.jpg" alt="data-managment" class="img-fluid">
                                <figcaption>
                                    <h2><span class="devloptexthome">Development</span><br />Data Management</span></h2>
                                    <p>
                                        Sadie never took her eyes off me. <br>She had a dark soul.
                                        <!-- <a href="javascript:void(0)">Know More</a> -->
                                    </p>

                                </figcaption>
                            </figure>

                            <!-- <span><img src="~/images/data-managment.jpg" alt="data-managment"></span>
                            <div class="consultancy-mezzex">
                             <h3>Data Management</h3>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="seemore-btn">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <a href="javascript:void(0)" class="seemore-text" style="display:none;">See More <span class="ti-layout-line-solid minusicon"></span></a>
        </div>
    </div>
</section>


<!--::client logo part end::-->

