<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title -->
	<title>Insperon Tech</title>
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap"
		  rel="stylesheet">
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<!-- Bootstrap Min CSS -->
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
	<!-- Animate Min CSS -->
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<!-- FlatIcon CSS -->
	<link rel="stylesheet" href="assets/css/flaticon.css">
	<!-- Bootstrap Icon CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap-icons.css">
	<!-- Font Awesome Min CSS -->
	<link rel="stylesheet" href="assets/css/fontawesome.min.css">
	<!-- Mean Menu CSS -->
	<link rel="stylesheet" href="assets/css/meanmenu.css">
	<!-- Swiper Min CSS -->
	<link rel="stylesheet" href="assets/css/swiper.min.css">
	<!-- Vegas CSS -->
	<link rel="stylesheet" href="assets/css/vegas.min.css">
	<!-- Owl Carousel Min CSS -->
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="~/assets/css/styleHome.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="assets/css/responsive.css">
	<style>
		.mean-container a.meanmenu-reveal {
			width: 35px;
			height: 30px;
			position: absolute;
			right: 0;
			cursor: pointer;
			color: #000000;
			text-decoration: none;
			font-size: 16px;
			text-indent: -9999em;
			line-height: 22px;
			font-size: 1px;
			display: block;
			font-weight: 700;
			padding-top: 5px;
		}

			.mean-container a.meanmenu-reveal span {
				display: block;
				background: #000000;
				height: 4px;
				margin-top: 3px;
				border-radius: 3px;
			}
	</style>
</head>

<body>

	<!-- Start Preloader Section -->
	<div class="preloader">
		<div class="loader">
			<div class="shadow"></div>
			<div class="box"></div>
		</div>
	</div>
	<!-- End Preloader Section -->

	<!-- Start Home Section -->
	<div class="home-area">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-12">
							<div class="main-banner-content">
								<h5>IT Solutions & Technology Services</h5>
								<h1>Web Design, Develop, Implement & <span class="color-text">IT Solutions</span></h1>
								<p>
									Building Digital Foundations: Trusted code, intuitive experiences, and unwavering
									data security – partner with us to engineer your digital future.
								</p>
								<div class="banner-btn">
									<a href="#0" class="default-btn-one"> Learn More<span></span></a>
									<a href="#0" class="default-btn"> Our Services<span></span></a>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="home-banner-image">
								<img src="assets/img/home-font.png" alt="Home Images">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Home Section -->
	<!-- Start Services Section -->
	<section class="services-section section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h6 class="sub-title">What We Provide</h6>
						<h2>Our Services</h2>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-development"></i>
						</div>
						<h3>Web Development</h3>
						<p>
							We craft user-centric interfaces that delight your audience and streamline their journey.

						</p>
						<div class="services-btn">
							<a href="service-1.html" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-thumbs-up"></i>
						</div>
						<h3>Digital Marketing</h3>
						<p>
							Build engaged communities and amplify your brand message across platforms.

						</p>
						<div class="services-btn">
							<a href="service-2.html" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-analytics"></i>
						</div>
						<h3>Startup Solutions</h3>
						<p>
							Headline Ignite Your Startup
							Your Journey, Our Expertise
							Key Service Offerings:
						</p>
						<div class="services-btn">
							<a href="service-3.html" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-light-bulb"></i>
						</div>
						<h3>Graphic Design</h3>
						<p>
							logos, brand guidelines, and visual tell your brand story and resonate with your audience.
						</p>
						<div class="services-btn">
							<a href="service-2.html" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-coding"></i>
						</div>
						<h3>SEO Optimization</h3>
						<p> the golden keys to audience hearts (and search engines)! We identify high-value keywords</p>
						<div class="services-btn">
							<a href="service-2.html" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-mobile-app"></i>
						</div>
						<h3>Apps Development</h3>
						<p>
							Whether iOS or Android, our experts build high-performance apps iver flawless native
							experience
						</p>
						<div class="services-btn">
							<a href="service-3.html" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Section -->
	<!-- Start Counter Section -->
	<section class="counter-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">20</span>
								<span>+</span>
							</h2>
							<h3 class="counter-heading">Years of Experience</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">1200</span>
								<span>+</span>
							</h2>
							<h3 class="counter-heading">Complete Project</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">250</span>
								<span>+</span>
							</h2>
							<h3 class="counter-heading">Working Employees</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">3000</span>
								<span>+</span>
							</h2>
							<h3 class="counter-heading">Happy Customers</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Counter Section -->
	<!-- Start Work Process Section -->

	<section class="process-section bg-grey section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h6 class="sub-title">How We Work</h6>
						<h2>Work Process</h2>
					</div>
				</div>
			</div>
			<div class="tab process-list-tab">
				<ul class="tabs">
					<li>
						<a href="#"><span>1. Research</span></a>
					</li>
					<li>
						<a href="#"><span>2. Designing</span></a>
					</li>
					<li>
						<a href="#"><span>3. Building</span></a>
					</li>
					<li>
						<a href="#"><span>4. Delivery</span></a>
					</li>
				</ul>
				<div class="tab_content">
					<div class="tabs_item">
						<div class="row align-items-center">
							<div class="col-lg-7">
								<div class="tab-solution-content">
									<h3>Research & Strategy</h3>
									<p>
										At Insperon, we don't just build websites and applications; we craft digital
										solutions that are rooted in a foundation of data-driven research and strategic
										planning. We believe that every successful project begins with a deep
										understanding of your unique needs, your target audience, and the competitive
										landscape.
									</p>
									<ul class="tab-list">
										<li>
											<i class="fa fa-check-circle"></i> Defining Your Goals
										</li>
										<li>
											<i class="fa fa-check-circle"></i> Understanding Your Audience
										</li>
										<li>
											<i class="fa fa-check-circle"></i>Competitive Analysis
										</li>
										<li>
											<i class="fa fa-check-circle"></i>Market Trends and Insights
										</li>
										<li>
											<i class="fa fa-check-circle"></i>Building a Winning Strategy
										</li>
									</ul>

								</div>
							</div>
							<div class="col-lg-5">
								<div class="tab-image">
									<img src="assets/img/process/tab-process-1.jpg" alt="image">
								</div>
							</div>
						</div>
					</div>
					<div class="tabs_item">
						<div class="row align-items-center">
							<div class="col-lg-7">
								<div class="tab-solution-content">
									<h3>Our Team Creates Designs</h3>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua.There are many variations of
										passages Lorem Ipsum available, but the majority have suffered alteration in
										some form, by injected humour.
									</p>
									<ul class="tab-list">
										<li>
											<i class="fa fa-check-circle"></i> Our mission is to make your business
											better through technology
										</li>
										<li>
											<i class="fa fa-check-circle"></i> We specialize in custom-tailored software
											solutions
										</li>
										<li>
											<i class="fa fa-check-circle"></i> Delivering IT solutions that enable you
											to work smarter
										</li>
									</ul>

								</div>
							</div>
							<div class="col-lg-5">
								<div class="tab-image">
									<img src="assets/img/process/tab-process-2.jpg" alt="image">
								</div>
							</div>
						</div>
					</div>
					<div class="tabs_item">
						<div class="row align-items-center">
							<div class="col-lg-7">
								<div class="tab-solution-content">
									<h3>Development & Testing</h3>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua.There are many variations of
										passages Lorem Ipsum available, but the majority have suffered alteration in
										some form, by injected humour.
									</p>
									<ul class="tab-list">
										<li>
											<i class="fa fa-check-circle"></i> Our mission is to make your business
											better through technology
										</li>
										<li>
											<i class="fa fa-check-circle"></i> We specialize in custom-tailored software
											solutions
										</li>
										<li>
											<i class="fa fa-check-circle"></i> Delivering IT solutions that enable you
											to work smarter
										</li>
									</ul>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua.There are many variations of
										passages available.
									</p>
								</div>
							</div>
							<div class="col-lg-5">
								<div class="tab-image">
									<img src="assets/img/process/tab-process-3.jpg" alt="image">
								</div>
							</div>
						</div>
					</div>
					<div class="tabs_item">
						<div class="row align-items-center">
							<div class="col-lg-7">
								<div class="tab-solution-content">
									<h3>Finally, We Deliver Website</h3>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua.There are many variations of
										passages Lorem Ipsum available, but the majority have suffered alteration in
										some form, by injected humour.
									</p>
									<ul class="tab-list">
										<li>
											<i class="fa fa-check-circle"></i> Our mission is to make your business
											better through technology
										</li>
										<li>
											<i class="fa fa-check-circle"></i> We specialize in custom-tailored software
											solutions
										</li>
										<li>
											<i class="fa fa-check-circle"></i> Competitive Analysis
										</li>
									</ul>

								</div>
							</div>
							<div class="col-lg-5">
								<div class="tab-image">
									<img src="assets/img/process/tab-process-4.jpg" alt="image">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Work Process Section -->
	<!-- Start Overview Section -->
	<section class="overview-section section-padding">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="overview-image">
						<img src="assets/img/choose-1.jpg" alt="image">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="overview-content">
						<h6 class="sub-title">Why Choose Us?</h6>
						<h2>Innovating to make Technology work for People Everywhere</h2>
						<p>
							Choosing Insperon Technologies should not be a tough decision still here we have few reason on why we are ahead in the market.
						</p>
						<ul class="features-list">
							<li> <span>Proven Expertise</span></li>
							<li> <span>Commitment to Quality</span></li>
							<li> <span>Customer-Centric Approach</span></li>
							<li> <span>Data-Driven Decisions</span></li>
							<li> <span>Innovation at Your Fingertips</span></li>
							<li> <span>Dedicated Partnerships</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="other-services">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-8">
					<div class="section_tittlehome text-center animated fadeInDown " data-wow-delay="0.1s">
						<h2 style="color:beige">Our Other Services</h2>
						<p class="sub-title">Mezzex believes in creating long-term relationships with clients and capable partners. Based on quality, consistency and reliability, client satisfaction is our driving force.</p>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
					<div class="other-service-box">
						<span><img src="~/images/logo-design.png" alt="Logo Design"></span>
						<h2>Logo Design</h2>
					</div>
				</div>

				<div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
					<div class="other-service-box">
						<span><img src="~/images/online-marketing.png" alt="Online Marketing"></span>
						<h2>Online Marketing</h2>
					</div>
				</div>

				<div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
					<div class="other-service-box">
						<span><img src="~/images/graphic-design.png" alt="Graphic Design"></span>
						<h2>Graphic Design</h2>
					</div>
				</div>

				<div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
					<div class="other-service-box">
						<span><img src="~/images/ecommerce-bussiness.png" alt="Ecommerce Business"></span>
						<h2>Ecommerce Business</h2>
					</div>
				</div>

				<div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
					<div class="other-service-box">
						<span><img src="~/images/lead-generation.png" alt="Lead Generation"></span>
						<h2>Lead Generation</h2>
					</div>
				</div>

				<div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
					<div class="other-service-box">
						<span><img src="~/images/amazon.png" alt="Amazon Seller Account"></span>
						<h2>Amazon Seller Account</h2>
					</div>
				</div>


				<div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
					<div class="other-service-box">
						<span><img src="~/images/ebay.png" alt="Ebay Seller Account"></span>
						<h2>Ebay Seller Account</h2>
					</div>
				</div>

				<div class="col-sm-3 col-xl-3 animated fadeInDown" data-wow-delay="0.1s">
					<div class="other-service-box">
						<span><img src="~/images/logo-design.png" alt="data-managment"></span>
						<h2>Other Seller Account</h2>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- End Overview Section -->
	<!-- Start Overview Section -->
	<section class="overview-section pt-50 pb-100">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="overview-content">
						<h6 class="sub-title">WHY TRUST US?</h6>
						<h2>Your one-stop Solution to Meet your Business Vision & Mission</h2>
						<ul class="features-list">
							<li> <span>Security Unshakeable</span></li>
							<li> <span>Transparency Always</span></li>
							<li> <span>Proven Track Record</span></li>
							<li> <span>Expertise You Can Rely On</span></li>
							<li> <span>Client-First Focus</span></li>
							<li> <span>Long-Term Partnerships</span></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="overview-image-2">
						<img src="assets/img/choose-2.jpg" alt="image">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="hire-section mt-3">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 col-md-12">
					<div class="hire-content">
						<h6 class="sub-title">Contact Us For A Free Consultation</h6>
						<h2>24x7 Expert Technical Support</h2>

						<div class="hire-btn">
							<a class="default-btn" href="tel:0802235678">Call Now<span></span></a>
							<a class="default-btn-one" href="contact.html">Contact Us<span></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Start Partner section -->
	<section class="partner-section pt-100 pb-10">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h6 class="sub-title">Trusted By Over 1200</h6>
						<h2>Our Clients</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Partner section -->
	

	<!-- End Copy Right Section -->
	<!-- Start Go Top Section -->
	<div class="go-top">
		<i class="fas fa-chevron-up"></i>
		<i class="fas fa-chevron-up"></i>
	</div>
	<!-- End Go Top Section -->
	<!-- jQuery Min JS -->
	<script src="assets/js/jquery.min.js"></script>
	<!-- Popper Min JS -->
	<script src="assets/js/popper.min.js"></script>
	<!-- Bootstrap Min JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<!-- Mean Menu JS -->
	<script src="assets/js/jquery.meanmenu.js"></script>
	<!-- Appear Min JS -->
	<script src="assets/js/jquery.appear.min.js"></script>
	<!-- CounterUp Min JS -->
	<script src="assets/js/jquery.waypoints.min.js"></script>
	<script src="assets/js/jquery.counterup.min.js"></script>
	<!-- Owl Carousel Min JS -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- Swiper Min JS -->
	<script src="assets/js/swiper.min.js"></script>
	<!-- WOW Min JS -->
	<script src="assets/js/wow.min.js"></script>
	<!-- Main JS -->
	<script src="~/assets/js/main.js"></script>
	<script>

	</script>
</body>

</html>