@{
    ViewData["Title"] = "Privacy Policy";
}
<!-- breadcrumb start-->
<section class="breadcrumb privacy-policy-breadcrumb breadcrumb_bg align-items-center">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-12">
                <div class="breadcrumb_tittle">
                    <p><a href="index.html"><span class="ti-home home-breadicon"></span><strong>home</strong> </a><span class="ti-angle-right breabarwicon"> </span><strong>Privacy Policy</strong></p>
                    <h2>Privacy Policy</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!-- FAQ -->
<section id="main-faq-page">
    <section id="main-blog-page">
        <div class="container">
            <div class="section_tittle text-center animated fadeInDown" data-wow-delay="0.1s">
                <h2 class="typewrite animated fadeInDown" data-wow-delay="0.1s" data-period="2000" data-type='[ "With Mezzex", "Privacy Notice"]'>
                    <span class="wrap about-txt"></span>
                </h2>
                <p>Mezzex Is Committed To Respecting Your Privacy And Choices While Using Our Website.</p>
            </div>

            <div class="mian-policy-box">
                <p>This Privacy Notice outlines in detail how Mezzex(“we”, “us”, “our”) collects and processes your personal data through its website located at (website). In relation to this Privacy Notice, personal information means any data that can be utilised to identify an individual, both directly and indirectly.</p>
                <br />

                <p>You are advised to carefully read the content of this Privacy Notice and make sure you understand it. In case you do not agree or accept the content of this Privacy Notice, kindly stop using the Website immediately. By using the website and giving us access to your personal information, you are agreeing that you are over 18 years of age.</p>
                <br />
                <p>
                    For any questions concerning our privacy practices, please contact us at <a href="mailto:info@mezzex.com">info@mezzex.com</a>. <br />
                    <br />
                </p>

                <h4>I. Personal Information:</h4>
                <p>Mezzex collects and uses certain personal information to be able to seamlessly provide its wide range of products and services. We will only use your personal data according to the laws of the United Kingdom. Below are some circumstances we will use your personal information:</p>
                <br>
                <p>
                    <ul class="when-answering">
                        <li><span class="ti-widget when-answering"></span>When answering your enquiries</li>
                        <li><span class="ti-widget when-answering"></span>When entering a contract with you and processing payments.</li>
                        <li><span class="ti-widget when-answering"></span>If we require complying with a legal or regulatory obligation.</li>
                        <li><span class="ti-widget when-answering"></span>When it is important for our legitimate interests and your basic rights do not affect</li>
                    </ul>
                </p>
                <br>
                <p>With your permission, we can utilise your personal information: </p>

                <ul class="when-answering">
                    <li><span class="ti-widget when-answering"></span>To advertise our products and services</li>
                    <li><span class="ti-widget when-answering"></span>To upgrade our website and portal to improve usability and performance</li>
                </ul>

                <h6>Promotional Offers</h6>
                <p>We may use your personal information to create a view of what we think you may require or what may interest you. In other words, this is marketing, where we decide on the services or offers that may be relevant for you. If you partner with Mezzex, you may receive marketing communications from us.</p>

                <h6>Third-Party Marketing</h6>
                <p>Mezzex asks for your express opt-in permission before sharing your personal information with any third party for marketing purposes.</p>

                <h6>Opting Out</h6>
                <p>Follow the opt-out link attached to any marketing message or contact our customer service team to ask them to stop sending you marketing messages. When you opt out, it will not apply to personal data given to us as a result of a purchase, experience or other transactions.</p>

            </div>

            <div class="mian-policy-box">
                <h4>II. Use of Cookies:</h4>
                <p>Just like other websites, the Mezzex website also uses cookies. These are some pieces of information sent by the website to your computer and stored in order to allow recognition when you visit again. Statistical data about browsing actions and patterns is collected without identifying the user as an individual. For instance, at Mezzex, we use cookies to cache your country's preference to help us improve our website and provide improved and more personalised service.</p><br />

                <p>While turning off cookies may result in reduced functionality when using the website, users can easily switch off cookies by setting their browser preferences. If you require assistance on how to switch off cookies on your computer, kindly visit our full cookies policy.</p>

            </div>

            <div class="mian-policy-box">
                <h4>III. Security:</h4>
                <p>
                    We take the safeguarding of any personal information in our possession very seriously, and we make sure it is held securely. Appropriate security measures are in place to avoid any personal information from being accessed in an unusual way, accidentally lost, or disclosed. When you provide us with your personal data, we make sure that it is stored securely. Our website is SSL certified, meaning when you visit a secure page, there will be a lock icon next to the URL of the web browser.
                </p><br />

                <p>Although we aim to protect your personal information, non-sensitive details such as your email address can be transmitted normally over the Internet, this information may not be guaranteed to be 100% secure. As a result, Mezzex does not guarantee the security of any information you transmit to us, and you proceed at your own risk. When we receive your personal information, we do our level best to ensure it is secure on our systems. When you choose or create a password which enables you to access certain pages of our websites, it is your responsibility to keep that password confidential. And please, you are requested not to share it with anyone.</p>
            </div>

            <div class="mian-policy-box">
                <h4>IV. Links to other websites:</h4>
                <p>Since our website may contain links to other organisations' websites, it is advisable to read and understand the privacy statements of the websites you visit, as this privacy policy only applies to Mezzex’s website. We are not in any way responsible for the privacy practices and statements of other websites, even if you are visiting them from our website.</p>
                <br />
                <p>Also, if you use a third-party site to link to our website, kindly know that we are not responsible for their privacy policies and practices, so, first read the privacy policy of that third-party website.</p>
            </div>

            <div class="mian-policy-box">

                <h4>V. Changes to this Policy:</h4>
                <p>Mezzex has the right to alter or amend its privacy statement without notice, if altered, the new statement will be updated on the Website. Please note that using our website for the first time after any amendments or alterations means that you have accepted such changes, this is why we advise users to review this Privacy Notice regularly to keep them aware of any changes.</p>
            </div>

            <div class="mian-policy-box">
                <h4>VI. Access to your Personal Information:</h4>
                <p>In relation to your personal information, you have the right to access and receive a copy of your data, request for correction of any errors, erase your information, and control how your information is handled.</p>
                <br />
                <p>When you have given us permission to process your personal information, you also have the right to can withdraw that permission at any time. Please contact us at the email address below if you wish to do so.</p>
                <br />
                <p>For those who are not satisfied with how we process personal information, feel free to lodge a complaint with the (ICO) for data protection issues.</p>
            </div>
        </div>


    </section>
</section>
