    <!-- breadcrumb start-->
<section class="breadcrumb gallery-page-breadcrumb breadcrumb_bg align-items-center">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-12">
                <div class="breadcrumb_tittle">
                    <p><a href="index.html"><span class="ti-home home-breadicon"></span><strong>home</strong> </a><span class="ti-angle-right breabarwicon"> </span><strong>Gallery</strong></p>
                    <h2>Gallery</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!-- E-Commerce Service start -->
<section id="ecommerce-servicee">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 animated fadeInDown" data-wow-delay="0.1s">

                <h2 class="typewrite animated fadeInDown" data-wow-delay="0.1s" data-period="2000" data-type='[ "Gallery", "With Mezzex"]'>
                    <span class="wrap about-txt"></span>
                </h2>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                 
            </div>

            <div class="col-lg-4 floating animated fadeInDown" data-wow-delay="0.1s">
                <img src="images/hero-gallery-1500w.jpg" alt="hero-gallery-1500w" class="img-fluid">
            </div>
        </div>

    </div>
</section>
<!-- E-Commerce Service end -->



<section class="portfolio-section" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Gallery</h2>
            </div>
        </div>
        <div class="portfolio-menu mt-2 mb-4">
            <nav class="controls">
                <button type="button" class="control outline" data-filter="all">All</button>
                <button type="button" class="control outline" data-filter=".image">Image</button>
                <button type="button" class="control outline" data-filter=".video">Video</button>
            </nav>
        </div>
        <ul class="row portfolio-item">

            <!-- <li class="mix video col-xl-3 col-md-4 col-12 col-sm-6 pd ">
               <img src="images/ultior.jpg" itemprop="thumbnail" alt="Image description" />
               <div class="portfolio-overlay">
                 <div class="overlay-content">


                   <a data-fancybox="item" title="click to zoom-in" href="https://demo.mezzex.com/images/ultior.jpg" data-size="1200x600">
                     <div class="magnify-icon">
                       <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                     </div>
                   </a>
                 </div>
               </div>
             </li> -->
            <!-- Image start -->
            <li class="mix image col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="images/video-image/office-image/office2.jpg" itemprop="thumbnail" alt="Image" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <!-- <p class="category">Image</p> -->
                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-image/office2.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix image col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="images/video-image/office-image/office3.jpg" itemprop="thumbnail" alt="Image" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <!-- <p class="category">Image</p> -->

                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-image/office3.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix image col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="images/video-image/office-image/office4.jpg" itemprop="thumbnail" alt="Image" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-image/office4.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix image col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="images/video-image/office-image/office5.jpg" itemprop="thumbnail" alt="Image" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-image/office5.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>


            <li class="mix image col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="images/video-image/office-image/office6.jpg" itemprop="thumbnail" alt="Image" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-image/office6.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix image col-xl-3 col-md-4 col-12 col-sm-6 pd ">
                <img src="images/video-image/office-image/office7.jpg" itemprop="thumbnail" alt="Image" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-image/office7.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix image col-xl-3 col-md-4 col-12 col-sm-6 pd ">
                <img src="images/video-image/office-image/office8.jpg" itemprop="thumbnail" alt="Image" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-image/office8.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix image col-xl-3 col-md-4 col-12 col-sm-6 pd ">
                <img src="images/video-image/office-image/office9.jpg" itemprop="thumbnail" alt="Image" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-image/office9.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix image col-xl-3 col-md-4 col-12 col-sm-6 pd ">
                <img src="images/video-image/office-image/office10.jpg" itemprop="thumbnail" alt="Image" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-image/office10.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix image col-xl-3 col-md-4 col-12 col-sm-6 pd ">
                <img src="images/video-image/office-image/office11.jpg" itemprop="thumbnail" alt="Image" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-image/office11.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix image col-xl-3 col-md-4 col-12 col-sm-6 pd ">
                <img src="images/video-image/office-image/office12.jpg" itemprop="thumbnail" alt="Image" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-image/office12.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix image col-xl-3 col-md-4 col-12 col-sm-6 pd ">
                <img src="images/video-image/office-image/office13.jpg" itemprop="thumbnail" alt="Image" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-image/office13.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix image col-xl-3 col-md-4 col-12 col-sm-6 pd ">
                <img src="images/video-image/office-image/office14.jpg" itemprop="thumbnail" alt="Image" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-image/office14.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <!-- Image end -->
            <!-- video start -->
            <li class="mix video col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="images/video-image/office-video/video-bg.jpg" itemprop="thumbnail" alt="Image description" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <!-- <p class="category">Video</p> -->

                        <a class="embed-responsive embed-responsive-21by9" data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-video/video1.mp4">
                            <video class="embed-responsive-item" muted="" autoplay="" loop="" src="images/video-image/office-video/video1.mp4" allowfullscreen="" type="video/mp4" width="636" height="600">
                                <img src="https://storage.googleapis.com/cms-storage-bucket/a667e994fc2f3e85de36.png" alt="Fast /">
                            </video>
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix video col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="images/video-image/office-video/video-bg.jpg" itemprop="thumbnail" alt="Image description" style="background:#ddd;" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a class="embed-responsive embed-responsive-21by9" data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-video/video2.mp4">
                            <video class="embed-responsive-item" muted="" autoplay="" loop="" src="images/video-image/office-video/video2.mp4" allowfullscreen="" type="video/mp4">
                                <img src="https://storage.googleapis.com/cms-storage-bucket/a667e994fc2f3e85de36.png" alt="Fast /">
                            </video>
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix video col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="images/video-image/office-video/video-bg.jpg" itemprop="thumbnail" alt="Image description" style="background:#ddd;" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a class="embed-responsive embed-responsive-21by9" data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-video/video3.mp4">
                            <video class="embed-responsive-item" muted="" autoplay="" loop="" src="images/video-image/office-video/video3.mp4" allowfullscreen="" type="video/mp4">
                                <img src="https://storage.googleapis.com/cms-storage-bucket/a667e994fc2f3e85de36.png" alt="Fast /">
                            </video>
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>


            <li class="mix video col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="images/video-image/office-video/video-bg.jpg" itemprop="thumbnail" alt="Image description" style="background:#ddd;" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a class="embed-responsive embed-responsive-21by9" data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-video/video4.mp4">
                            <video class="embed-responsive-item" muted="" autoplay="" loop="" src="images/video-image/office-video/video4.mp4" allowfullscreen="" type="video/mp4">
                                <img src="https://storage.googleapis.com/cms-storage-bucket/a667e994fc2f3e85de36.png" alt="Fast /">
                            </video>
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix video col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="images/video-image/office-video/video-bg.jpg" itemprop="thumbnail" alt="Image description" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a class="embed-responsive embed-responsive-21by9" data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-video/video5.mp4">
                            <video class="embed-responsive-item" muted="" autoplay="" loop="" src="images/video-image/office-video/video5.mp4" allowfullscreen="" type="video/mp4">
                                <img src="https://storage.googleapis.com/cms-storage-bucket/a667e994fc2f3e85de36.png" alt="Fast /">
                            </video>
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix video col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="images/video-image/office-video/video-bg.jpg" itemprop="thumbnail" alt="Image description" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a class="embed-responsive embed-responsive-21by9" data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-video/video6.mp4">
                            <video class="embed-responsive-item" muted="" autoplay="" loop="" src="images/video-image/office-video/video6.mp4" allowfullscreen="" type="video/mp4">
                                <img src="https://storage.googleapis.com/cms-storage-bucket/a667e994fc2f3e85de36.png" alt="Fast /">
                            </video>
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix video col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="images/video-image/office-video/video-bg.jpg" itemprop="thumbnail" alt="Image description" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a class="embed-responsive embed-responsive-21by9" data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-video/video7.mp4">
                            <video class="embed-responsive-item" muted="" autoplay="" loop="" src="images/video-image/office-video/video7.mp4" allowfullscreen="" type="video/mp4">
                                <img src="https://storage.googleapis.com/cms-storage-bucket/a667e994fc2f3e85de36.png" alt="Fast /">
                            </video>
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix video col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="images/video-image/office-video/video-bg.jpg" itemprop="thumbnail" alt="Image description" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a class="embed-responsive embed-responsive-21by9" data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-video/video8.mp4">
                            <video class="embed-responsive-item" muted="" autoplay="" loop="" src="images/video-image/office-video/video8.mp4" allowfullscreen="" type="video/mp4">
                                <img src="https://storage.googleapis.com/cms-storage-bucket/a667e994fc2f3e85de36.png" alt="Fast /">
                            </video>
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix video col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="images/video-image/office-video/video-bg.jpg" itemprop="thumbnail" alt="Image description" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a class="embed-responsive embed-responsive-21by9" data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-video/video9.mp4">
                            <video class="embed-responsive-item" muted="" autoplay="" loop="" src="images/video-image/office-video/video9.mp4" allowfullscreen="" type="video/mp4">
                                <img src="https://storage.googleapis.com/cms-storage-bucket/a667e994fc2f3e85de36.png" alt="Fast /">
                            </video>
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix video col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="images/video-image/office-video/video-bg.jpg" itemprop="thumbnail" alt="Image description" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">


                        <a class="embed-responsive embed-responsive-21by9" data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/video-image/office-video/video10.mp4">
                            <video class="embed-responsive-item" muted="" autoplay="" loop="" src="images/video-image/office-video/video10.mp4" allowfullscreen="" type="video/mp4" width="636" height="900">
                                <img src="https://storage.googleapis.com/cms-storage-bucket/a667e994fc2f3e85de36.png" alt="Fast /">
                            </video>
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <!-- video end -->


        </ul>
    </div>
</section>

</section>

<!-- footer part end-->
<!-- jquery plugins here-->
<script src="js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="js/jquery.magnific-popup.js"></script>
<!-- isotope js -->
<script src="js/isotope.pkgd.min.js"></script>

<script src="js/owl.carousel.min.js"></script>
<!-- particles js -->
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/mixitup.min.js"></script>

<!-- custom js -->
<script src="js/custom.js"></script>
<script src="js/type-write.js"></script>


<!-- JS Links -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    /*Downloaded from https://www.codeseek.co/ezra_siton/mixitup-fancybox3-JydYqm */
    // 1. querySelector
    var containerEl = document.querySelector(".portfolio-item");
    // 2. Passing the configuration object inline
    //https://www.kunkalabs.com/mixitup/docs/configuration-object/
    var mixer = mixitup(containerEl, {
        animation: {
            effects: "fade translateZ(-100px)",
            effectsIn: "fade translateY(-100%)",
            easing: "cubic-bezier(0.645, 0.045, 0.355, 1)"
        }
    });
    // fancybox insilaze & options //
    $("[data-fancybox]").fancybox({
        loop: true,
        hash: true,
        transitionEffect: "slide",
        /* zoom VS next////////////////////
        clickContent - i modify the deafult - now when you click on the image you go to the next image - i more like this approach than zoom on desktop (This idea was in the classic/first lightbox) */
        clickContent: function (current, event) {
            return current.type === "image" ? "next" : false;
        }
    });
</script>

<script type="text/javascript">
    var mixer = mixitup(containerEl, {
        animation: {
            effects: 'fade translateZ(-100px)'
        }
    });

    var mixer = mixitup(containerEl, {
        behavior: {
            liveSort: true
        },
        load: {
            sort: 'edited:desc'
        }
    });

    var target = containerEl.children[3];

    console.log(target.getAttribute('data-edited')); // '2015-04-24'

    target.setAttribute('data-edited', '2017-08-10'); // Update the target's edited date

    mixer.sort('edited:desc')
        .then(function (state) {
            // The target is now at the top of the list

            console.log(state.targets[0] === target); // true
        });

</script>