    <!-- breadcrumb start-->
    <section class="breadcrumb tems-condition-breadcrumb breadcrumb_bg align-items-center">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-sm-12">
                    <div class="breadcrumb_tittle">
                        <p><a href="index.html"><span class="ti-home home-breadicon"></span><strong>home</strong> </a><span class="ti-angle-right breabarwicon"> </span><strong>Terms & Condition</strong></p>
                        <h2>Terms & Condition</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

<!-- FAQ -->
<section id="main-faq-page">
<section id="main-blog-page">
 <div class="container">
 <div class="section_tittle text-center animated fadeInDown" data-wow-delay="0.1s">
  <h2 class="typewrite animated fadeInDown" data-wow-delay="0.1s" data-period="2000" data-type='[ "With Mezzex", "Terms & Condition"]' >
  <span class="wrap about-txt"></span>
 </h2>  
  <p>Mezzex Is Committed To Respecting Your Terms And Choices While Using Our Website.</p>
</div>
 
 <div class="mian-policy-box">
<h4>Charges:</h4>
<p>First-month charges must be paid for onboarding to occur. The charges will be outlined at a monthly rate in your proposal. Depending on the client’s preference, recurring payments may be billed monthly or at greater time increments. Generally, clients are billed on the first of the month, after the invoice for the first month of services, which are to be pro-rated according to their official proposal agreement date.</p>

</div>

 <div class="mian-policy-box">
<h4>Agreement Term, Cancellation and Refunds:</h4>
<p>Clients accept to pay the amount agreed on their customized proposal, at the beginning of every month that services are to be offered. Services are only offered in monthly increments, and Mezzex will not process refunds for services already rendered. Clients may terminate their service at any time, but have to provide at least 15 days advance notice before the end of that month to avoid future charges.</p>


</div>

 <div class="mian-policy-box">
<h4>No Liability:</h4>
<p>To the fullest extent permitted by law, Mezzex will not be liable for any damages whatsoever,  including direct, indirect, incidental, special, or consequential related to your use of the Website. Even if we have been advised of the possibility of such damages, including without limitation, damages for loss of profits, data, or other intangible losses.
</div>

 <div class="mian-policy-box">
<h4>Billing:</h4>
<p>Clients may pay invoices via debit or credit card remittance to Mezzex.’s payment gateway, PayPal remittance, and America Express remittance.</p>
</div>

 <div class="mian-policy-box">

<h4>Cancellation of Services:</h4>
<p>If a client wishes to terminate their service, they are requested to cancel service through email or by calling Mezzex, at least 30 days in advance. Also, clients must receive a cancellation admission in writing to complete the cancellation process and avoid services from being performed past the cancellation month.</p>
</div>

 <div class="mian-policy-box">
<h4>Communication:</h4>
<p>You must be supportive of your digital marketing campaign and required to be responsive to Mezzex requests in a sensible period of time and admit if they are not, it may affect performance with no modification of service costs.</p>
<br>


<div class="mian-policy-box">
<h4>Changes to Terms and Conditions:</h4>
<p>Mezzex reserves the right to alter these terms and conditions at any time by updating the terms on the website. If you continue using the website after such alterations constitute your acceptance of the changed terms.</p>
</div>

<div class="mian-policy-box">
<h4>Governing Law and Venue:</h4>
<p>By purchasing Mezzex’s service, you agree that your agreement shall be governed by and construed in accordance with the laws of England and Wales. You also agree that any dispute arising out of or related to these terms and conditions shall be resolved exclusively in the courts of England, with respect to any such matters relating to your purchase of Mezzex’s services.</p>

<p>For any Kind of query, Please fill free to contact us </p>
<p style="text-align: justify;"><strong><a href="mailto:info@mezzex.com" style="text-decoration:none;">info@mezzex.com</a></strong>, Call US:<strong><a href="tel:+44 121-6616357" style="text-decoration:none;"> +44 121-6616357</a></strong></p>
</div>
</div>
 </div>
 

  </section>
  </section>
 <!-- FAQ end -->