<!-- breadcrumb start-->
<section class="breadcrumb portfolio-banner-breadcrumb breadcrumb_bg align-items-center">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-12">
                <div class="breadcrumb_tittle">
                    <p><a href="index.html"><span class="ti-home home-breadicon"></span><strong>home</strong> </a><span class="ti-angle-right breabarwicon"> </span><strong>Portfolio</strong></p>
                    <h2>Portfolio</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!-- E-Commerce Service start -->
<section id="ecommerce-servicee">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 animated fadeInDown" data-wow-delay="0.1s">

                <h2 class="typewrite animated fadeInDown" data-wow-delay="0.1s" data-period="2000" data-type='[ "Portfolio Websites", "With Mezzex"]'>
                    <span class="wrap about-txt"></span>
                </h2>

                <p>Mezzex is the leading IT company offering elegant digital marketing solutions for brands and businesses across the globe. We have experienced developers and creative designers, dedicated to offering the best and most affordable solutions in web development, mobile app development, e-commerce services and logo designing for various businesses and organisations.</p><br>
                <p>
                    We also provide on-demand warehouse management services such as inventory management, we do a transparent business when working with you to help you grow your brand. Mezzex has collected numerous valuable testimonials, many projects completed and satisfied clients giving us positive feedback. Let our rich portfolio do the talking.

                </p>
            </div>

            <div class="col-lg-4 floating animated fadeInDown" data-wow-delay="0.1s">
                <img src="~/images/1st.jpg" alt="hero-desktop-1500w" class="img-fluid">
            </div>
        </div>

    </div>
</section>
<!-- E-Commerce Service end -->



<section class="portfolio-section" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <p>We design and build extraordinary experiences that captivate audiences and promote ongoing interaction.</p>
            </div>
        </div>
        <div class="portfolio-menu mt-2 mb-4">
            <nav class="controls">
                <button type="button" class="control outline" data-filter="all">All</button>
                <button type="button" class="control outline" data-filter=".web">Web Design</button>
                <button type="button" class="control outline" data-filter=".dev">Development</button>
                <button type="button" class="control outline" data-filter=".wp">WordPress</button>
            </nav>
        </div>
        <ul class="row portfolio-item">
            <li class="mix dev col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="~/images/Direct Care.jpg" itemprop="thumbnail" alt="Image description" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <p class="category">Direct Care</p>
                        <a href="https://www.direct-care.co.uk/" title="View Project" target="_blank">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                        <a data-fancybox="item" title="click to zoom-in" href="https://www.direct-care.co.uk/">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="mix web col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="~/images/spaceboxstorage.jpg" itemprop="thumbnail" alt="Image description" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <p class="category">Spacebox Storage</p>
                        <a href="https://www.spaceboxstorage.co.uk" title="View Project" target="_blank">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/spaceboxstorage.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="mix web wp col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="~/images/flax-linen.jpg" itemprop="thumbnail" alt="Image description" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <p class="category">Flax Linen</p>
                        <a href="https://flaxlinenofficial.com" title="View Project" target="_blank">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/flax-linen.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="mix dev col-xl-3 col-md-4 col-12 col-sm-6 pd ">
                <img src="~/images/ultior.jpg" itemprop="thumbnail" alt="Image description" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <p class="category">Ultior Ultimate Performance</p>
                        <a href="https://ultior.co.uk" title="View Project" target="_blank">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/ultior.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="mix web wp col-xl-3 col-md-4 col-12 col-sm-6 pd ">
                <img src="~/images/h-and-b-shack.jpg" itemprop="thumbnail" alt="Image description" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <p class="category">H & B Shack</p>
                        <a href="https://pullthepin.dev/directcare" title="View Project" target="_blank">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/h-and-b-shack.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="mix web wp col-xl-3 col-md-4 col-12 col-sm-6 pd ">
                <img src="~/images/Houszy.jpg" itemprop="thumbnail" alt="Image description" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <p class="category">Houszy</p>
                        <a href="http://houszy.co.uk/" title="View Project" target="_blank">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/houszy-project.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix web wp col-xl-3 col-md-4 col-12 col-sm-6 pd ">
                <img src="~/images/incoshop-project.jpg" itemprop="thumbnail" alt="Image description" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <p class="category">Incoshop</p>
                        <a href="https://incoshop.houszy.co.uk/" title="View Project" target="_blank">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/incoshop-project.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>

            <li class="mix web col-xl-3 col-md-4 col-12 col-sm-6 pd">
                <img src="~/images/pro-mortgagess.jpg" itemprop="thumbnail" alt="Image description" />
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <p class="category">Promort Gages</p>
                        <a href="https://promortgages.co.uk/" title="View Project" target="_blank">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-link" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                        <a data-fancybox="item" title="click to zoom-in" href="https://mezzex.com/images/pro-mortgagess.jpg" data-size="1200x600">
                            <div class="magnify-icon">
                                <p><span><i class="fa fa-search" aria-hidden="true"></i></span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>


        </ul>
    </div>
</section>
<!-- Our Process end -->
<!-- portfolio stat -->
<section id="creat-portfolio">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto">
                <h1>Let Mezzex rich portfolio do the talking</h1>
                <p>Our previous projects can show how much we are dedicated to help you engage with your targeted audience</p>
            </div>
            <span><img src="~/images/4 website Banner.png" alt=""></span>
        </div>
    </div>

</section>



<section id="custom-portfolio">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6 mx-auto">
                <h2>Upgrade your Kitchen with hassle-free and seamless online shopping</h2>
                <p class="portfolio-choosepage">
                    Our client is the United Kingdom’s leading platform offering kitchen utensils at affordable prices
                </p>
            </div>

            <div class="col-lg-6">
                <span><img src="~/images/houszy-banner-port A.png" alt=""></span>
            </div>

        </div>
    </div>

</section>